/* Utility */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}


a {
    outline: none;
}


.error-list {
    width: 100%;
    margin-top: 30px;
    font-size: 0.6em;
    list-style: none;
}

.error-list li {
    background: #;
    padding: 5px;
    color: #FF6966;
}


/* top menu */
.main-nav {
    height: 70px;
    background: #eee;
    border-bottom: 5px solid #80B6F2;
    box-shadow: 0 4px 2px -2px #80B6F2;
}

.logo {
    padding: 0;
    float: left;
    font-size: 2em;
    margin-left: 30px;
    color: black;
}

.main-nav > ul {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    list-style: none;
}

.main-nav > ul > li {
    display: inline;
    padding: 15px 10px;
}


.nav-item:hover {
    text-decoration: underline;
}

.logged-in-as {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.logged-in-as a {
    color: black;
    margin: 0 5px;
}


.flash {
    margin: 10px;
    text-align: center;
    color: white;
    width: 100%;
    height: 70px;
    background: #42f462;
    padding: 15px;
    display: none;
}


/* Home page */
#first-section, #second-section, #third-section {
    position: relative;
    transition: opacity 2s;
}

.scroll-section {
    height: 70px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 90px;
    z-index: 2;
}

.seethrough {
    opacity: 0;
}

.scroll-capsule {
    opacity: 0.4;
    position: relative;
    display: block;
    width: 40px;
    height: 70px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 auto;
    color: gray;
    transition: opacity 1s;
}

.scroll-capsule:hover {
    opacity: 1;
}

.scroll-capsule ul {
    list-style: none;
    margin: 2px auto;
    text-align: center;
}

.scroll-capsule a {
    color: black;
}

.scroll-capsule a:hover {
    color: gray;
}


.active-nav {
    color: #80B6F2;
}


#first-section {
    margin-top: 80px;
}

.first-wrap {
    width: 80%;
    min-height: 400px;
    margin: 20px auto;
}

.flat-box {
    color: gray;
    box-sizing: border-box;
    float: left;
    width: 30%;
    margin-left: 25px;
    margin-top: 30px;
    min-height: 220px;
    padding: 10px;
    box-shadow: 0px 0px 9px #80B6F2;
}

.flat-box:hover {
    box-shadow: 0px 0px 4px #333;
}


.flat-box h1 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
}

.flat-box p {
    margin: 10px;
    color: black;
}


.logged-wrapper {
    margin: 0px auto;
    width: 50%;
}

.logged-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 999px;
    border: 3px solid #80B6F2;
    display: block;
    margin: 10px auto;
}

.logged-wrapper h1 {
    text-align: center;
    padding-top: 50px;
    font-weight: 100;
}

.logged-wrapper p {
    margin-top: 30px;
    text-align: center;
}


.second-wrap {
    width: 80%;
    min-height: 400px;
    margin: 20px auto;
}


.intro-code {
    float: left;
}

.intro-code h1, .intro-text h1 {
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 3.2em;
}

.intro-text {
    width: 50%;
    float: right;
}


.intro-text p {
    margin-bottom: 20px;
}


#third-section {
    margin-top: 150px;
    position: relative;
    height: 500px;
    width: 100%;
}

.zen-quote {
    height: 500px;
}

.zen-quote h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 4em;
    font-weight: 100;
}

.zen-quote p {
    position: absolute;
    top: 130px;
    right: 350px;
    font-size: 2em;
}

/* Forum */
.forum-index {
    margin-bottom: 200px;
}

.forum-menu {
    margin-top: 50px;
}

.forum-menu label {
    font-size: 1.5em;
    color: black;
    font-weight: 400;
}

.new-topic-form {
    width: 100%;
}

.forum-menu a {
    margin-left: 10px;
}

.create-topic-box {
    width: 70%;
    margin: 50px auto;
    min-height: 600px;
}

.list-topic-date {
    float: right;
}

.topic-show h3 {
    margin-bottom: 30px;
}

.post {
    border: 1px solid #ccc;
    min-height: 200px;
    margin-bottom: 30px;
    border-radius: 20px;

}

.post-header {
    border-radius: 20px;
    font-size: 1.2em;
    color: black;
    background: #80B6F2;
    background: #ddd;
    padding: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 29px;
    margin-right: 10px;
}

.post-header span {
    font-size: 0.8em;
}

.post-body {
    padding: 10px;

}

.forum-topics .badge {
    margin-left: 20px;
}

/* Profile page */
.profile-wrapper {
    width: 60%;
    min-height: 300px;
    margin: 50px auto;
    color: #888;
    margin-bottom: 300px;
}

.profile-wrapper .left-side {
    width: 30%;
    float: left;
    min-height: 300px;
}

.profile-wrapper .left-side h4 {
    text-align: center;
    margin-top: 80px;
    font-weight: 100;
    color: black;
    font-size: 2em;
}


.left-side {
    padding-right: 40px;
}

.left-side label {
    text-align: center;
    display: block;
}

.left-side label:hover {
    cursor: pointer;
    color: black;
}


.image-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.profile-wrapper .right-side {
    width: 70%;
    float: left;
    min-height: 300px;
}

.profile-info, .topics-started {
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 1px 3px #ccc;
}


.profile-info i {
    float: right;
    margin-left: 15px;
}

.profile-info i:hover {
    cursor: pointer;
    color: black;
}



.profile-info h4 span{
    float: right;
}


.info-text {
    margin-left: 5px;
    font-size: 0.9em;
    color: #aaa;
}

.info-edit, .update-button {
    float: right;
}

.info-edit {
    border-radius: 2px;
    border: 2px solid #80B6F2;
    color: gray;
    padding: 2px;
    width: 70%;
    box-shadow: 0px 0px 6px #80B6F2;
}


.username {
    margin-right: 30px;
}

.update-button {
    margin-left: 5px;
    border: none;
    background: white;
    color: black;
}


.update-button:hover {
    color: #42f462;
}


.topics-started h3 {
    margin-bottom: 20px;
}

.topics-started ul li span { 
    float: right;
}


.left-side img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 999px;
    border: 3px solid #80B6F2;
}



/* Side documentation menu */
.side-menu {
    width: 20%;
    float: left;
    min-height: 900px;
}

.doc-side-submenu {
    margin-left: 20px;
    margin-top: 30px;
}

.doc-side-submenu a {
    color: black;
    text-decoration: underline;
}

.doc-side-submenu a:hover {
    color: #80B6F2;
}

.doc-side-submenu ul {
    margin-top: 10px;
    list-style: none;
    color: red;
}


.documentation {
    box-sizing: border-box;
    padding: 50px;
    padding-left: 150px;
    float: left;
    width: 80%;
}

.documentation h1 {
    margin-bottom: 20px;
}

.documentation p {
    margin-bottom: 30px;
}

.documentation a {
    color: #FF6966;
}

/* Footer */
.footer {
    height: 100px;
    clear: both;
    color: #80B6F2;
}

.footer-content {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.footer-list ul{
    width: 100%;
    list-style: none;
    text-align: center;
}

.footer-list ul li {
    display: inline;
    margin: 5px;
}

.footer-list a:hover {
    text-decoration: underline;    
}


/* Register and login*/
.auth-box {
    width: 30%;
    margin: 30px auto;
    font-size: 2em;
    min-height: 550px;
}

.auth-box img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 20px auto;
    margin-bottom: 20px;
    border-radius: 999px;
    border: 3px solid #80B6F2;
}

.auth-box label {
    color: black;
}

.form-input {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.auth-button {
    width: 50%;
    background: #FF6966;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.auth-button:hover {
    border: 2px solid gray;
}

.auth-box a {
    font-size: 0.5em;
    margin-left: 50px;
}

