/* Utility */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}


a {
    outline: none;
}

.clearfix {
    clear: both;
}

.error-list {
    width: 100%;
    margin-top: 30px;
    font-size: 0.6em;
    list-style: none;
}

.error-list li {
    background: #;
    padding: 5px;
    color: #FF6966;
}


/* top menu */
.main-nav {
    height: 70px;
    background: #eee;
    border-bottom: 15px solid #80B6F2;
}

.logo {
    float: left;
    font-size: 2em;
    margin-left: 30px;
    color: black;
}

.main-nav > ul {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    list-style: none;
}

.main-nav > ul > li {
    display: inline;
    padding: 15px 10px;
}

.nav-item {

}

.nav-item:hover {
    text-decoration: underline;
}


/* Home page */
.home-welcome-box {
    position: relative;
    margin-top: 30px;
    color: gray;
}


.welcome-message {
    width: 40%;
    float: left;
}

.welcome-message p {
    padding: 5px;
}

.welcome-message img {
    display: block;
    margin: 20px auto;
    max-height: 250px;
    max-width: 250px;
}

.welcome-ribon {
    float: right;
    min-height: 400px;
    width: 40%;
    background: #80B6F2;
    position: relative;
    top: -40px;
    right: 100px;
    padding: 30px;
    color: white;
    border-radius: 10px;
}

.welcome-ribon ul {
    list-style: none;
}

.welcome-ribon ul li {
    margin: 20px;
    font-style: italic;
}



.intro-content {
    clear: both;
    padding-top: 150px;
    color: gray;
    margin-bottom: 100px;
}

.intro-code {
    float: left;
}

.intro-code h1 {
    margin-bottom: 40px;
}

.intro-text {
    width: 60%;
    float: right;
}

.intro-text h1 {
    margin-bottom: 40px;
}


.intro-text p {
    margin-bottom: 20px;
}


.flat-box {
    background: #eee;
    color: gray;
    box-sizing: border-box;
    float: left;
    width: 27%;
    margin: 37px;
    min-height: 320px;
    padding: 40px;
    transition: all 1s;
}


.flat-box h1 {
    color: black;
    margin-bottom: 20px;
}

.flat-box p {
    margin: 10px;
}

.quote-art {
    margin-top: 150px;
    position: relative;
    height: 500px;
    width: 100%;
}

.zen-quote {
    height: 500px;
    background-image: url('../images/litica3.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.zen-quote h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 4em;
    font-weight: 100;
}

.zen-quote p {
    position: absolute;
    top: 130px;
    left: 150px;
    font-size: 2em;
}

/* Forum */
.forum-menu {
    margin-top: 50px;
}

.forum-menu a {
    margin-left: 10px;
}

.create-topic-box {
    width: 70%;
    margin: 50px auto;
    min-height: 600px;
}

.list-topic-date {
    float: right;
}

.topic-show h3 {
    margin-bottom: 30px;
}

.post {
    border: 1px solid #ccc;
    min-height: 200px;
    margin-bottom: 30px;
}

.post-header {
    font-size: 1.2em;
    color: white;
    background: #80B6F2;
    padding: 10px;
}

.post-body {
    padding: 10px;

}



/* Side documentation meni */
.side-menu {
    width: 20%;
    float: left;
    min-height: 900px;
}

.doc-side-submenu {
    margin-left: 20px;
    margin-top: 30px;
}

.doc-side-submenu a {
    color: black;
    text-decoration: underline;
}

.doc-side-submenu a:hover {
    color: #80B6F2;
}

.doc-side-submenu ul {
    margin-top: 10px;
    list-style: none;
    color: red;
}


.documentation {
    box-sizing: border-box;
    padding: 50px;
    padding-left: 150px;
    float: left;
    width: 80%;
}

.documentation h1 {
    margin-bottom: 20px;
}

.documentation p {
    margin-bottom: 30px;
}

.documentation a {
    color: #FF6966;
}

/* Footer */
.footer {
    height: 100px;
    clear: both;
    color: #80B6F2;
}

.footer-content {
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.footer-list ul{
    width: 100%;
    list-style: none;
    text-align: center;
}

.footer-list ul li {
    display: inline;
    margin: 5px;
}

.footer-list a:hover {
    text-decoration: underline;    
}


/* Register and login*/
.auth-box {
    width: 40%;
    margin: 100px auto;
    font-size: 2em;
    min-height: 550px;
}

.auth-box img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 20px auto;
    margin-bottom: 20px;
}

.form-input {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}

.auth-button {
    width: 50%;
    background: #FF6966;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.auth-button:hover {
    border: 2px solid gray;
}

.auth-box a {
    font-size: 0.5em;
    margin-left: 50px;
}

